<div id="post_content">
<div class="container">

  <h1 class="title">
    <%= @post.title %>
  </h1>
  <p class="date">
  submitted <%= time_ago_in_words(@post.created_at)%>ago |
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
  </p>
  <p>
    <%= @post.body %>
  </p>
  <div class="container">
    <h2><%= @post.comments.count%> comentarios</h2>
    <%= render @post.comments %>
    <h3> comentar:</h3>
    <%= render "comments/form"%>
  </div>
</div>
</div>
