<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark">

        <a class="navbar-brand" href="#">Blog de noticias</a>
        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <span class="nav-link"><%=link_to"Home",root_path %></span>
                </li>
                <% if user_signed_in?%>
                  <li class="nav-item">
                    <span class="nav-link"><%=link_to"Crear Post",new_post_path  %></span>
                  </li>
                <% end %>
                <li class="nav-item">
                  <span class="nav-link"><%=link_to"about",about_path  %></span>
                </li>
                <% if user_signed_in? %>
                  <li class="nav-item">
                    <span class="nav-link"><%=link_to"salir",destroy_user_session_path,method: :delete  %></span>
                  </li>
                <% end %>
                <% if !user_signed_in? %>
                  <li class="nav-item">
                    <span class="nav-link"><%=link_to"iniciar",new_user_session_path %></span>
                  </li>
                  <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
      <body>
    <% if current_page?(root_path)%>
      <div class="text-center">
        <%= link_to "ULTIMOS POST",root_path ,class: "text-center btn btn-dark"%>
      </div>
      <% elsif current_page?(about_path)%>
      <div class="text-center">
        <%= link_to "ACERCA DE MI",about_path ,class: "text-center btn btn-dark"%>
      </div>
      <%else%>
      <div class="text-center">
        <%= link_to "CREACION DE UN NUEVO POST",root_path ,class: "text-center btn btn-dark"%>
      </div>
      <%end%>
    <%= flash.each do |name, msg| %>
      <%= content_tag(:div,msg, class: "alert") %>
    <%end%>


    <%= yield %>
  </body>
</html>
